
h1 {
  text-align:center;
  margin : 20px 0 ;
  font-size : 1.5rem;
}
.card {
text-align:center;
margin : 20px;
padding: 20px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.card-name {
  color : #0F5010;
  padding-top :10px;
}
.card-text {
  padding: 20px 0;
}

